@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
.footer{
  background: $black;
  padding: 80px 0 50px;
  width: 100%;
  color: white;
  .footerNav{
    @include base-flex($flexWrap: wrap, $alignItems: normal);
    margin: 0 auto;
    width: 70%;
    & {
      height: 300px;
    }
    .logoColumn {
      @include base-flex-item($flexGrow: 1);
      img {
        width: 132px;
        height: 41.89px;
      }

    }
    .mediaColumn {
      @include base-flex-item($flexGrow: 2);
      @include base-flex($justifyContent: flex-end);
      a {
        margin: 15px;
      }
    }
  }
}