//Color for text, background, menu of Dashboard

//Gradient

$limitedOfferGradientBackground: linear-gradient(185deg, #a1248b 1.61%, #121212 39.73%, #121212 75.29%);
$differenceTableGradientTableBackground: linear-gradient(rgb(173, 36, 137), rgb(40, 70, 117));

// White - Grey - Black
$white: #ffffff;
$grey: #A6A6A6 ;
$darkerGrey: #737373;
$darkerGrey2: #1D1D1D;
$darkerGrey5: #121212;
$darkerGrey3: #2a2a2a;
$darkerGrey4: #242424;
$nearlyBlack: #0D0D0D;
$black: #000000;

// Colorful Colors for other elements in Premium Pages
$pink: #A6269D;
$blue: #5e8ee9;
$premiumIndividual: #F2C9D1;
$premiumDuo: #F2B05E;
$premiumFamily: #ADC5D9;
$premiumStudent: #C8B8D9;

// Colors for Support Pages
$paymentHelp: $pink;
$planHelp: #8C1A32;
$appHelp: #B16238;
$deviceHelp: #025940;
$safetyHelp: $darkerGrey;
$accountHelp: #527AA1;

// Colors for Branding

$facebookColor: #1977f2;
$facebookColor2: #384f81;
$appleColor: $black;
$spotifyColor: #1ed760;




