//Font link

$circularBlackURL: url("../../public/Circular/CircularStd-Black.otf");
$circularBlackItalicURL: url("../../public/Circular/CircularStd-BlackItalic.otf");
$circularBoldURL: url("../../public/Circular/CircularStd-Bold.otf");
$circularBoldItalicURL: url("../../public/Circular/CircularStd-BoldItalic.otf");
$circularBookURL: url("../../public/Circular/CircularStd-Book.otf");
$circularBookItalicURL: url("../../public/Circular/CircularStd-BookItalic.otf");
$circularLightURL: url("../../public/Circular/CircularStd-Light.otf");
$circularLightItalicURL: url("../../public/Circular/CircularStd-Light Italic.otf");
$circularLightMediumURL: url("../../public/Circular/CircularStd-Medium.otf");
$circularMediumItalicURL: url("../../public/Circular/CircularStd-MediumItalic.otf");
