@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';

.textInput, .datetimeInput {
  @include base-flex($flexDirection: column, $justifyContent: space-between);
  margin: 10px;
  label{
    font-size: 0.875rem;
    margin-bottom: 10px;
  }
  input{
    height: 50px;
    padding: 5px;
    @include text-medium;
    border-radius: 5px;
  }
  .datetimeInputGroup{
    label{
      display: block;
    }
    input{
      width: 100%;
    }
    @include base-flex($justifyContent: space-between);
  }

}