@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';

div.label {
  margin-bottom: 10px;
}
.textInput, .datetimeInput,.selectInput, .radioInput, .checkBoxInput {
  @include base-flex($flexDirection: column, $justifyContent: space-between);
  margin: 10px;
}
.datetimeInputGroup{
  label{
    display: block;
  }
  @include base-flex($justifyContent: space-between);
}
.radioInput {
  .radioInputGroup{
    @include base-flex($justifyContent: space-between);
    .radioItem{
      input{
        margin-left: 10px;
      }
    }
  }


}
.checkBoxInput {
  margin-top: 30px;
  input{
    margin-right: 10px;
  }
}