@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
.header {
  background-color: $nearlyBlack;
  min-height: 80px;
  padding: 8px;
  margin-bottom: 0;
  .nav{
    @include base-flex($justifyContent: space-between, $alignItems: middle);
    .branding {
      margin-left: 20%;
      @include base-flex($alignItems: center);
    }
    .navBar {
      height: 64px;
      padding-right: 20px;
      .navBarList{
        @include base-flex($justifyContent: flex-end, $alignItems: center);
        height: 100%;
        .separator{
          background: $white;
          height: 25px;
          width: 1px;
          margin: 20px;
        }
        .loginButton{
          @include base-button;
          .loginText{
            color: black;
          }
        }
        li {
          a {
            color: $grey;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1.76px;
            line-height: 18px;
          }
          padding: 8px;
        }
        margin: 0;
      }

    }
  }
}

