@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
.imageCard{
  background: $darkerGrey3;
  color: $white;
  border-radius: 10px;
  width: 180px;
  height: 250px;
  text-align: left;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
  h3 {
    font-size: 16px;
    margin: 5px 0 5px 5px;
  }
  p {
    font-size: 12px;
    @include text-light();
    margin: 5px 0 5px 5px;
  }
}