@import '../../../styles/mixins';
@import '../../../styles/colors';

.playlists{
  margin-top: 0;
  margin-left: 200px;
  background: $darkerGrey2;
  height: 1300px;

  h1{
    color: white;
    font-size: 24px;
    margin: 0 20px 20px 20px;
    padding: 10px;
  }
  .playlist{
    @include base-flex($justifyContent: space-evenly);
    margin: 10px 10px 10px 0;
    background: none;
  }
  .footerHomepage{
    @include base-flex($justifyContent: space-between);
    padding: 20px;
  }

}