@import '../../styles/mixins';

.card {
  width: 25%;
  text-align: left;
  border: 3px solid;
  border-radius: 10px;
  padding: 15px;
  .cardLabel{
    width: 30%;
    padding: 5px;
  }
  .cardName{
    @include base-flex($justifyContent: space-between);
    .cardNameLeft{
      h2{
        overflow-wrap: break-word;
        max-width: 10px;
      }
    }
    .cardNameRight{
      @include base-flex($flexDirection: column, $justifyContent: center);
      h2{
        padding: 0;
        margin: 10px;
      }
      p {
        font-size: 10px;
        margin: 0;
        text-align: center;
      }
    }
  }
  .cardFeatures {
    li{
      @include text-medium;
    }
    height: 90px;
  }
  .button{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    button{
      @include base-button;
    }
  }
  .termCondition{
    font-size: 10px;
    text-align: center;
    @include text-medium;
    @include base-flex($flexDirection: column, $justifyContent: flex-end);
  }
}



